body {
    background-color: black;
}
#container {
    border:5px solid pink;
    margin:0 auto;
    width:1024px;
}
#player {
    margin:0 auto;
    position:absolute;
}
#shopMessage {
    display:none;
    position:absolute;
    top:10%;
    left:30%;
    width:55%;
    height:20%;
    background-color:gray;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em;
    padding:1em;
}
#shopItems {
    display:none;
    position:absolute;
    width:80%;
    left:10%;
    top:10%;
    overflow-y:scroll;
    background-color:black;
    color:white;
    border:1px solid blue;
}
.shopItem {
    margin: 0 auto;
    width:10%;
    height:10%;
    border:1px solid gray;
}